<!DOCTYPE html>
<html>
<head>
    <title> The Longest Zipline </title>
    <%- include header.ejs %>
</head>
<body>
<%- include('body.ejs',{content:content}) %>

<%-content.data%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascripts/header.js"></script>
<script src="/javascripts/index.js"></script>

</body>
</html>
