<!--Header for all pages-->

<link rel='stylesheet' href='/stylesheets/header.css' />
<div id = "header"> The Longest Zipline in the World </div>
<a href = '/'> <img src="/images/Yell-Extreme-Park-Logo.png" width = "100px" heigth = "100px"> </a>


