<!DOCTYPE html>
<html>
  <head>
      <title> The Longest Zipline </title>
      <%- include header.ejs %>
  </head>
  <body>
      <%- include('body.ejs',{content:content}) %>

      <div id = "description">
          <p> We design the longest and the most extreme zipline in the world. Become a part of this awesome project. </p>
          <p> Our team has created a great opportunity for those who love traveling and adventures. The length of the longest and most extreme zipline is 3 km and the height is approximately 300 m above the ground.</p>
      </div>


      <!--Video-->
      <iframe width="650" height="450" src="https://www.youtube.com/embed/HxbD_ZPLsWY?start=88&autoplay=1" frameborder="0" allowfullscreen></iframe>

      <!--Javascript-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="javascripts/index.js"></script>

  </body>
</html>
